---
import { Icon } from "astro-icon/components";

import type { BlogPost } from "../types";

import { designation, location } from "../data";

import AnimatedText from "../islands/AnimatedText.svelte";
import HoverTextAnimation from "../islands/HoverTextAnimation.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogPosts = Object.values(import.meta.glob<BlogPost>("./blog/**/*.mdx", { eager: true }));
---

<BaseLayout title="Hi I'm Dev-Siri, Web & Flutter Developer">
  <section>
    <h4 class="font-normal!">
      <AnimatedText client:load text="hi i'm" />
      <b class="font-black">
        <AnimatedText client:load text="dev-siri" />
      </b>
    </h4>
    <div class="flex items-center gap-1 text-gray-400 mb-2">
      <Icon name="mdi:map-marker-outline" height={20} width={20} />
      <p aria-label={location} class="cursor-default">
        {location.toLowerCase()}
      </p>
    </div>
    <div class="flex items-center gap-1 text-gray-400 mb-4">
      <Icon name="mdi:domain" height={20} width={20} />
      <p aria-label={`${designation.default} / ${designation.alternative}`} class="cursor-default">
        <HoverTextAnimation client:load defaultText={designation.default.toLowerCase()} replaceText={designation.alternative.toLowerCase()} />
      </p>
    </div>
    <p class="text-lg mb-6">
      just another dude into programming. spends a lot of his time on twitter, writes code. what else do i even have to say here? can go, rust, htmx,
      the only technologies you need to know right now.
    </p>
  </section>
  <section id="blog" class="mt-10">
    <h4 class="pb-4">recent blog posts</h4>
    <ul>
      {
        blogPosts
          .sort((prevPost, nextPost) => {
            if (new Date(prevPost.frontmatter.publishdate) < new Date(nextPost.frontmatter.publishdate)) return 1;

            return -1;
          })
          .slice(0, 3)
          .map(({ frontmatter, url }, i) => (
            <li class={`py-0 ${i === 0 ? "pt-0!" : ""}`}>
              <a href={url}>
                <h6>{frontmatter.title.toLowerCase()}</h6>
                <p class="text-gray-400 -mt-5">{frontmatter.publishdate.toLowerCase()}</p>
              </a>
            </li>
          ))
      }
    </ul>
  </section>
</BaseLayout>
