---
import { Image } from "astro:assets";
import SocialMediaLink from "../components/SocialMediaLink.astro";
import ProceedToCheckout from "../islands/ProceedToCheckout.svelte";

export interface Props {
  title: string;
  authors: string;
  price: number;
  imageUrl: string;
  imageSize: {
    height: number;
    width: number;
  };
}

const { title, authors, imageUrl, price, imageSize } = Astro.props;
---

<article class="flex flex-col md:flex-row items-start gap-5 mt-4">
  <section>
    <Image src={imageUrl} alt=`O'Rly Book titled '${title}'` {...imageSize} class="rounded-md" />
  </section>
  <section class="md:ml-4">
    <h5 class="text-balance">{authors} "{title}" O'Rly Book</h5>
    <p class="text-md text-gray-400 mt-2">${price}</p>
    <div class="flex flex-col w-fit">
      <ProceedToCheckout client:load />
      <div class="flex gap-2">
        <span class="text-md">By</span>
        <SocialMediaLink username="@IroncladDev" variant="twitter">IroncladDev</SocialMediaLink>
      </div>
    </div>
  </section>
</article>
