---
import { Image } from "@astrojs/image/components";

import logo from "../assets/logo.webp";

const navLinkStyles =
  "hover:text-gray-300 duration-200 hover:bg-semi-visible-blue hover:scale-125 border-blue-400 hover:border-2 rounded-md p-2 transform-gpu px-10";
---

<nav class="fixed bg-dark-gray z-20 border-b-2 items-center border-gray-800 flex w-screen p-6">
  <section class="flex items-center flex-1">
    <Image src={logo} alt="Logo" height={75} width={75} class="rounded-full" />
    <a href="/" class="text-xl ml-4">aarush.dev</a>
  </section>
  <section class="items-center hidden lg:flex justify-around flex-[2]">
    <a class={navLinkStyles} href="/about">About</a>
    <a class={navLinkStyles} href="/blog">Blog</a>
    <a class={navLinkStyles} href="/projects">Projects</a>
    <a class={navLinkStyles} href="/technologies">Technologies</a>
  </section>
  <label for="menu-hidden" class="flex cursor-pointer lg:hidden flex-col gap-1 hover:gap-2 duration-200">
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
  </label>
</nav>
