---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import type { Project } from "../data";

interface Props extends Project {}

const { name, description, source, image, link } = Astro.props;

const linkProps = link?.includes("http")
  ? {
      target: "_blank",
      rel: "noopener noreferrer",
    }
  : {};
---

<article class="relative text-left w-fit h-fit rounded-xl">
  <section class="absolute flex z-10 right-0 w-full justify-end">
    <a title="Source Code on Github" href={source} target="_blank" rel="noopener noreferrer" class="rounded-md z-[999999] flex p-3 items-center">
      <Icon name="mdi:github" height={30} width={30} />
    </a>
    {
      link && (
        <a title="Deployed URL" href={link} {...linkProps} class="rounded-md flex p-3 items-center z-[999999]">
          <Icon name="mdi:link" height={30} width={30} />
        </a>
      )
    }
  </section>
  <section class="p-4 absolute z-10 mt-auto bottom-0 h-32">
    <p class="text-3xl mt-3 font-bold leading-normal">
      {name.toString()}
    </p>
    <p class="ml-1 text-sm text-gray-400 w-full" title={description}>
      {description.length >= 55 ? `${description.slice(0, 55)}...` : description}
    </p>
  </section>
  <section class="relative h-full">
    <Image src={image.src} alt={name} height={image.height} width={image.width} class="rounded-xl h-full aspect-video object-cover opacity-70" />
    <div class="absolute inset-0 bg-gradient-to-t from-black via-black to-transparent opacity-80 rounded-xl"></div>
  </section>
</article>
