---
const navLinkStyles = "p-4 bg-black w-3/4 rounded-full justify-center hover:scale-105 duration-200 flex";
---

<aside
  id="side-menu"
  class="flex animate-slide flex-col items-center bg-semi-dark-gray w-2/4 sm:w-1/4 pt-10 ml-[50%] sm:ml-[75%] h-screen gap-2 mt-[100px] fixed z-10"
>
  <a class={navLinkStyles} href="/about">About</a>
  <a class={navLinkStyles} href="/blog">Blog</a>
  <a class={navLinkStyles} href="/projects">Projects</a>
  <a class={navLinkStyles} href="/technologies">Technologies</a>
  <a class={navLinkStyles} href="/guestbook">Guestbook</a>
</aside>
