---
import { Icon } from "astro-icon";

interface Props {
  name: string;
  link: `https://${string}`;
  handle: string;
  icon: string;
  iconColor?: string;
}

const { name, handle, link, icon, iconColor } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="bg-semi-dark-gray mx-2 p-5 rounded-md flex items-center w-2/4 hover:bg-gray-800 duration-200"
>
  <Icon name={icon} height={40} color={iconColor} />
  <p class="ml-2">
    {name}
    <br />
    <span class="text-sm text-gray-400">
      {handle}
    </span>
  </p>
</a>
