---
import { Icon } from "astro-icon/components";

interface Props {
  variant: "youtube" | "twitter";
  username: `@${string}`;
}

const { variant, username } = Astro.props;

const link = `https://${variant}.com/${variant === "youtube" ? username : username.slice(1)}`;
---

<a
  href={link}
  target="_blank"
  rel="noreferrer noopener"
  class="group inline-flex justify-center items-center py-0.5 px-1 rounded-md no-underline bg-semi-dark-gray duration-200 gap-1 hover:bg-dark-gray"
>
  <Icon name={`mdi:${variant}`} height={15} width={15} color={variant === "youtube" ? "red" : "#2e77ff"} />
  <span class="text-sm hidden group-hover:inline">
    {username}
  </span>
  <span class="text-sm group-hover:hidden">
    <slot />
  </span>
</a>
