---
import { ClientRouter } from "astro:transitions";
import "../styles/globals.css";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import SideMenu from "../components/SideMenu.astro";
import { socialLinks } from "../data";

interface Props {
  title: string;
  description?: string;
  class?: string;
  path?: string;
}

const {
  title,
  description = "I'm a Web & Flutter developer who can create blazingly fast apps that can run on any platform using the most in-demand technologies.",
  class: className = "",
  path = "/",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:url" content=`https://siri-dev.vercel.app${path}` />
    <meta name="og:image" content="https://siri-dev.vercel.app/og/default.jpg" />
    <meta name="og:type" content="article" />
    <meta name="og:site_name" content="Dev-Siri's Portfolio" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://siri-dev.vercel.app/og/default.jpg" />
    <meta name="twitter:site" content={socialLinks[1].handle} />
    <meta name="twitter:creator" content={socialLinks[1].handle} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="view-transition" content="same-origin" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href=`https://siri-dev.vercel.app${path}` />
    <link rel="preload" href="/fonts/Geist.woff2" as="font" crossorigin="anonymous" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body class="h-screen w-screen overflow-x-hidden subpixel-antialiased text-white bg-dark-gray py-16 px-10 lg:px-40">
    <Navbar />
    <input type="checkbox" id="menu-hidden" class="hidden" />
    <SideMenu />
    <main class=`overflow-hidden ${className}`>
      <slot />
    </main>
    <Footer />
  </body>
</html>
