---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import SideMenu from "../components/SideMenu.astro";
import "../styles/globals.css";

interface Props {
  title: string;
  description?: string;
  class?: string;
  path?: string;
}

const {
  title,
  description = "I'm a Web & Flutter developer who can create blazingly fast apps that can run on any platform using the most in-demand technologies.",
  class: className,
  path = "/",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:url" content=`https://aarush-dev.netlify.app/${path}` />
    <meta name="og:image" content="https://aarush-dev.netlify.app/og/default.jpg" />
    <meta name="og:type" content="article" />
    <meta name="og:site_name" content="Aarush's Blog" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://aarush-dev.netlify.app/og/default.jpg" />
    <meta name="twitter:site" content="@WebDev_Siri" />
    <meta name="twitter:creator" content="@WebDev_Siri" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href=`https://aarush-dev.netlify.app${path}` />
    <link rel="preload" href="/fonts/Inter.woff2" as="font" crossorigin="anonymous" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body class="h-screen w-screen text-white bg-dark-gray">
    <Navbar />
    <input type="checkbox" id="menu-hidden" class="hidden" />
    <SideMenu />
    <main class=`overflow-hidden pt-36 p-8 min-[1181px]:p-32 ${className}`>
      <slot />
    </main>
    <Footer />
  </body>
</html>
