---
import "../styles/blog.css";
import "../styles/globals.css";

import { Icon } from "astro-icon";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import SideMenu from "../components/SideMenu.astro";

import { getFormattedTime } from "../utils/time";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    slug: string;
    publishdate: string;
  };
}

const {
  frontmatter: { title, description, slug, publishdate },
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content=`https://aarush-dev.netlify.app/og/${slug}.jpg` />
    <meta name="og:type" content="article" />
    <meta name="og:url" content=`https://aarush-dev.netlify.app/blog/${slug}` />
    <meta name="og:site_name" content="Aarush's Blog" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content=`https://aarush-dev.netlify.app/og/${slug}.jpg` />
    <meta name="twitter:site" content="@WebDev_Siri" />
    <meta name="twitter:creator" content="@WebDev_Siri" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="article:publish_time" content={getFormattedTime(publishdate)} />
    <meta name="article:author" content="Aarush" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <link rel="canonical" href=`https://aarush-dev.netlify.app/blog/${slug}` />
    <link rel="preload" href="/fonts/Inter.woff2" as="font" crossorigin="anonymous" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body class="h-screen w-screen text-white bg-dark-gray">
    <Navbar />
    <input type="checkbox" id="menu-hidden" class="hidden" />
    <SideMenu />
    <main class="overflow-hidden pt-36 p-8 min-[1181px]:p-32">
      <a href="/blog" class="flex p-4 bg-semi-dark-gray w-fit items-center rounded-md duration-200 hover:bg-gray-800">
        <Icon name="mdi:arrow-left" size={20} />
        <p class="px-2">Blogs</p>
      </a>
      <h1>
        {title}
      </h1>
      <time class="text-gray-400 ml-1" datetime={getFormattedTime(publishdate)}>
        {publishdate}
      </time>
      <article class="ml-1 mt-10">
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
